<div class="post" id="post-<%= id %>">
	<p class="acts">
		<a href="#/<%= id %>/edit">Editar
		<a href="#/<%= id %>/destroy" class="destroy">Borrar</a>
	</p>
	<p class="body"><%= body %></p>
	<small class="date_at"><%= date_at %></small>
</div>

