<div class="post" id="post-<%= id %>">
	<div class="body"><%= body %></div>
	<div class="date_at"><%= date_at %></div>
	<div class="hoverActions">
		<a href="#/<%= id %>/edit">Editar
		<a href="#/<%= id %>/destroy" class="destroy">Borrar</a>
	</div>
</div>

