<div class="post" id="post-<%= id %>">
	<p class="body"><%= body %></p>
	<small class="date_at"><%= date_at %>
	<a class="action edit" href="#/<%= id %>/edit">Editar</a>
	<a class="action destroy" href="#/<%= id %>/destroy">Borrar</a>
  </small>
</div>

